.root {
 color: blue;
 margin: 20px;
 background-color: blanchedalmond;
 width: 200px;
 border-radius: 8px;
 padding: 5px;
 display: flex;
 flex-direction: row;
}

.column {
    background-color: beige;
    flex: 1;
}

.column:not(:first-child) {
    margin-left: 10px;
}